<!DOCTYPE html>
<html>
  <head>
    <title>TheSpoon306</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>The Spoon App</h1>
    <%= yield %>
    <h4>This is a footer placeholder</h4>
  </body>
</html>
